{% csrf_token %}

<Html>

<head>
    <title>
        Registration Form
    </title>
</head>

<body bgcolor="">
    
    <br>
    <br>
    <form method="post" action="adddata/" id="myForm" >{% csrf_token %}

        <label> Name </label>
        <input type="text" name="name" size="15" /> <br> <br>
        <label> email: </label>
        <input type="text" name="email" size="15" /> <br> <br>
        <label> phoneno: </label>
        <input type="text" name="phoneno" size="15" /> <br> <br>
                <label> username: </label>
                <input type="text" name="username" size="15" /> <br> 
                <br><label> password: </label>
                <input type="text" name="password" size="15" /> <br> <br>
        
        <br>
        <br>
        <label>
            Gender :
        </label>
        <input type="radio" id="male" name="gender" value="male">
          <label for="html">Male</label>
          <input type="radio" id="Female" name="gender" value="female">
          <label for="css">Female</label><br>
        <br>
        <br>
        <label>
            Date Of Birth :
        </label><br>
        <input type="date" name="dob">

        <input type="submit">

    </form>
</body>




</html>